@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--magic-number: 0.106278; /* tan(12°)/2 */
	--content-width: 100vw;
	--skew-padding: calc(var(--content-width) * var(--magic-number));
}